body {
    font-family: 'Montserrat Alternates', sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008044;
    border: 1px solid black;
    color: rgb(233, 37, 37);
    height: 130px;
}

.logotipo {
    width: 100px;
}

.menu {
    display: flex;
}

.cabecalho nav li a {
    color: aliceblue;
    font-size: 25px;
    padding: 25px;
}

.but_cell {
    font-size: 10px;
    padding: 20px;
    border-radius: 20px;
}

/* Corpo txt 1 com imgam */

.nave {
    position: relative;
}

.txt1 {
    border: 1px solid black;
    width: 350px;
    font-size: 40px;
    position: relative;
    top: 50px;
    left: 20px;
}

.subtxt1 {
    position: relative;
    top: 100px;
    left: 20px;
    border: 1px solid black;
    width: 530px;

}

.img1 {
    position: relative;
    top: -100px;
    right: -550px;
    border: 1px solid black;
    width: 800px;


}